@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Press+Start+2P&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #1B1D36;
}
